<link rel="stylesheet" href="../static/css/style.css">
<section>
  <article class="info">
  <h2>About Us</h2>
  <img class="splashimg" src="../../static/media/uploads/.thumbnails/dsc_5028.jpg/dsc_5028-700x350.jpg" alt="storage units">
  <p>As a family owned small business, we care about each customer and bringing you the best service possible. We took ownership of AAAffordable in 2012 and have since turned the once foreclosed property into a thriving business. Our mission is to provide a high tech and secure Self Storage facility with excellent service for local residents and businesses. We are accredited by the BBB and are a member of the Frederick Chamber of Commerce. </p>
  </article></section>
<section id="security">
<article class="info">
<h2>Our Security</h2>
<img class="splashimg" src="../../static/media/uploads/.thumbnails/dsc_4979.jpg/dsc_4979-700x230.jpg" alt="Security Cameras" />
<p>Our security system includes 24/7 security camera footage and an access gate with a coded keypad. We have insurance in case anything happens, and we are always a quick phone call away whenever you have questions.</p>
<p>If you need assistance with the gate operation check out this short <a href="https://www.youtube.com/watch?v=jDDfmYuKSIg" target=_blank>YouTube video</a>.</p>
<img alt="gate" class="splashimg" src="../../static/media/uploads/.thumbnails/dsc_4980.jpg/dsc_4980-700x300.jpg"></article>
</section>