<link rel="stylesheet" href="../static/css/style.css">
<section>
  <article class="info" style="text-align:center;">
  <p>Contact us with any questions!</p>
  <p>Phone: <a href="tel:303-833-0692">(303)833-0692</a></p>
  <div class="flex">
    <div class="profile">
    <img src="../../static/media/uploads/.thumbnails/dsc_3125_square.jpg/dsc_3125_square-250x250.jpg" alt="">
    <p>Wolfram - Manager</p>
    <p>Email: <a href="mailto:mgr@aaafford.com">mgr@aaafford.com</a></p></div>
  <div class="profile"><img src="../../static/media/uploads/.thumbnails/laura_square.jpg/laura_square-250x250.jpg" alt="">
  <p>Laura - Assistant Manager</p>
  <p>Email: <a href="mailto:laura@aaafford.com">laura@aaafford.com</a></p></div></div>
  </article></section>