{% extends "base.html" %}

{% block main %}

	  <section class="splash">
	    <h1>Need storage?<br><br> We can help with affordable rates.</h1>
	  </section>
	  <section class="info row">
	  <div class="col-4">
	    <h2>Low Rates</h2>
	    <p>Our prices are easy on your bank account! We provide a selection of storage unit sizes, all at incredibly low rates so you can find the deal that works for you.</p>
	    <a href="/pricing" class="btn">Check them out!</a>
	  </div>
	  <div class="col-4">
	    <h2>Security</h2>
	    <p>The safety and security of your belongings is important to us. We have 24/7 security camera coverage, and a gate to keep your stuff where it should be.</p>
	    <a href="/about#security" class="btn">Learn More</a>
	  </div>
	  <div class="col-4">
	    <h2>Family Owned</h2>
	    <p>As a small, family-owned business, we care about providing you the best customer service.</p>
	    <a href="/about" class="btn">About Us</a>
	  </div>
      </section>
        <section class="row map">
			<div class="col-6">
            <h2>Come Visit Us</h2>
<p>We are located in Frederick, Colorado off of County Road 13 (Colorado Blvd) on Hurt Street. We are just South of the Rocky Mountain Christian Church, half mile South of Safeway, and North of the High School.</p>    
            </div>
            <div class="col-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.610918509965!2d-104.94313399999997!3d40.10638700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c08d58d6d4bcd%3A0x6e213bb94c6f5a1e!2s5970+Hurt+St%2C+Frederick%2C+CO+80530!5e0!3m2!1sen!2sus!4v1428605571661" frameborder="0"></iframe></div>
            
        </section>
	  	<section class="support">
	  	<img class="background" src="{{ MEDIA_URL }}/uploads/front-angle-full-1200large.jpg" alt="">

<h2>Get in Touch</h2>
<p>Email 
<script language="Javascript">
<!-- Begin
user = "mgr";
site = "aaafford.com";
document.write('<a href=\"mailto:' + user + '@' + site + '\">');
document.write(user + '@' + site + '</a>');
// End -->
</script> or call <a href="tel:+1-303-833-0692">(303)833-0692</a> with any questions or to set up an appointment.</p> <a class="btn" href="docs/AAAffordableStorageLease.pdf">Download the lease agreement</a>
			</section>
			
		{% endblock %}