<link rel="stylesheet" href="../static/css/style.css">
<section>
  <article class="info">
  <p>We strive to keep our prices low to work with your budget. <a href="tel:303-833-0692">Call</a> or <a href="mailto:mgr@aaafford.com">email</a> with questions about availability or to set up an appointment.</p>
  <table>
    <thead>
     <tr>
      <th>Unit Size [ft]</th>
      <th>Monthly Rate</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>10 x 10</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>10 x 15</td>
      <td>$125</td>
    </tr>
    <tr>
      <td>10 x 20</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>10 x 30</td>
      <td>$250</td>
    </tr>
    <tr>
      <td>15 x 15</td>
      <td>$160</td>
    </tr>
    <tr>
      <td>15 x 20</td>
      <td>$250</td>
    </tr>
    </tbody>
  </table>
  <img class="splashimg" src="../../static/media/uploads/.thumbnails/dsc_5032.jpg/dsc_5032-700x300.jpg" alt="">
  </article></section>
